/*  your css code here. If applicable */
body{
	padding:0;
	margin:0;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;

}
.code-container{
	border:1px solid black;
	width:90%;
	height:60%;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align: center;
	align-items:center;
}
#form{
	display:flex;
	gap:20px;	
}
.code{
	width:50px;
	height:50px;
	border: none;
	border-radius:50%;
	font-size:x-large;
	text-align:center;
}